body {
  background: #eee
}

.ratings i {
  font-size: 16px;
  color: red
}

.strike-text {
  color: red;
  text-decoration: line-through
}

.product-image {
  width: 100%
}

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block
}

.spec-1 {
  color: #938787;
  font-size: 15px
}

h5 {
  font-weight: 400
}

.para {
  font-size: 16px
}

.container-all {
  margin-top: 200px;
}

.search {
  display: flex;
}

.search button {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search input {
  padding: 0px !important;
}

.ant-modal-root .ant-modal-mask {
  background: rgba(0, 0, 0, 0.25) !important;
}

.btn-open {
  background-color: #198754 !important;
}

.ant-pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ant-pagination .ant-pagination-item-active {
  border-color: #198754 !important;
}

.price-range {
  margin-top: 20px;
}

.footer {
  margin-top: 100px;
}